/*body*/

.f1 {
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.f2 {
    background: #ea3f33;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}


/*top header*/

.top-content {
    padding: 0;
}


/*progress*/

.f1-step.active .f1-step-icon {
    background: #00A99D;
}

.f1-step.active p {
    color: #00A99D;
}

.f1-progress-line {
    background: #00A99D;
}


/*buttons*/

button.btn.btn-primary {
    color: #fff;
    background-color: #00A99D;
    border-color: #00A99D;
}

button.btn.btn-danger {
    color: #fff;
    background-color: #fff border-color: #ea3f33;
}

button.btn {
    margin-right: 5px;
}


/*well*/

.well-custom {
    min-height: 110px;
}


/*dropdown*/

.btn-custom {
    width: 100%;
    border-color: #00A99D;
    background: #fff;
    color: #00A99D;
    padding: 5px;
}

button:hover.btn-custom {
    display: block;
    opacity: 1;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    background: #00A99D;
    color: #fff;
}


/*forms input*/

.form-control,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select,
textarea.form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #00A99D;
    color: #00A99D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

:hover {
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}


.radio_img>input {
    visibility: hidden;
    position: absolute;
}

.radio_img>input+.btn_survey {
    cursor: pointer;
    border: 0px solid transparent;
    width: 55px;
    height: 55px;
}


.btn-active {
    display: block;
    opacity: 1;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    background: #00A99D;
    color: #fff;
}

.carousel{
    background-image: url("../../../resources/banners/default.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 640px 160px;
    width: 640px;

}
.carousel .item{
    min-width: 640px;
    min-height: 160px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
    text-align: center;
}
h5, h5 {
    text-align: justify;
}