.f1-step.active .f1-step-icon {
    background: #EE2D24;
}
.f1-step.active p {
    color: #EE2D24;
}
.f1-progress-line {
    background: #EE2D24;
}
button.btn.btn-next, button.btn.btn-next:focus, button.btn.btn-next:active:focus, button.btn.btn-next.active:focus {
    background: #ea3f33;
}
.img_colorfill {
    filter: drop-shadow(1px 0px 0px white);
}
input, select, textarea, textarea.form-control {
    width: 100%;
}
button.btn.btn-submit, button.btn.btn-submit:focus, button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus {
    background: #EE2D24;
}
input, textarea, select, textarea.form-control {
    height: 44px;
}
.form-control {
    height: 44px;
}
button.btn {
    margin: 3px;
    margin-right: 3px;
}

/* radio button img*/
.incluir {
    position: relative;

}
.incluir input {
  -webkit-appearance: none;   
  -moz-appearance: window;   
  -ms-appearance: window;  
  appearance: window; 
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;


}


.incluir input + label::before {
  position absolute;
  top: 0;
  display: inline-block;
  background: transparent url('../img/surveys/star.png') no-repeat 0 0;
  display: block;
  width: 50px;
  height: 50px; 
  content: '';
  vertical-align: middle;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */


}
.incluir input:checked + label::before {
    -webkit-transform:scale(1.30);
    -moz-transform:scale(1.30);
    -ms-transform:scale(1.30);
    -o-transform:scale(1.30);
    transform:scale(1.30);

/*        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transition: opacity .15s ease-out-in;
        -moz-transition: opacity .15s ease-out-in;
        -ms-transition: opacity .15s ease-out-in;
        -o-transition: opacity .15s ease-out-in;
        transition: opacity .15s ease-out-in;*/



  background: transparent url('../img/surveys/star.png') no-repeat 0 0;

}

/*ol, ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}*/

button:hover.well-custom {
    display: block;
    opacity: 1;
    -moz-transition:    all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition:      all 500ms ease;
    -ms-transition:     all 500ms ease;
    transition:         all 500ms ease;
    background: #00A99D;
    color: #fff;
}

.well-custom{
  border-color: #00A99D;
  background: #fff;
  color: #00A99D;
  width: 100%;
  min-height: 110px;
  text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #00A99D;
    border-color: #00A99D;
}
.top-content {
    padding: 0;
}
.banner-terms{
  width: 640px;
  height: 160px;
  background: #ccc;
}
.caret {
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-nav>li>a {
    color: #000;
}
.well {
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}
